
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

/* 

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 920px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
} */

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
  .video-grid {
    grid-template-columns: 1fr;
  }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
  .video-grid {
  grid-template-columns: 1fr 1fr;
}}
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 /* @media only screen and (min-width: 1200px) {...}  */


.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
} 
 
.thumbnail {
  width: 100%;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px; 
}

.video-author {
  margin-bottom: 4px;
}

.video-author, .video-stats {
  font-size: 12px;
  color: #606060;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}

.video-time {
  font-size: 12px;
  padding: 4px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;

}

